@page "/"
@model Portal.Pages.Home
@{
  ViewData["Title"] = "Home Page";
  ViewData["Description"] = "Home Page metadata description";
}

<div class="home-page">
  <div class="feed">
    @foreach (var Post in Model.Posts)
    {
      <feed-item href="/post/@Post.PostId">
        <span slot="title">@Post.Title</span>
        <span slot="description">@Post.Content</span>
      </feed-item>
    }
  </div>
  <div class="filters">
    Filters
  </div>
</div>
